{{!-- src/auth/templates/password-reset.hbs --}}
<h1>Restablecer contraseña</h1>

{{#if name}}
<p>Hola {{name}},</p>
{{/if}}

<p>Haz clic <a href="{{resetUrl}}">aquí</a> para restablecer tu contraseña.</p>

{{#if expiresIn}}
<p>Este enlace expira en {{expiresIn}}.</p>
{{/if}}

<p>Si no solicitaste este cambio, puedes ignorar este mensaje.</p>
