@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aplicar Inter globalmente a TODO el proyecto */
@layer base {
  * {
    font-family: 'Inter', sans-serif;
  }
  
  body {
    font-family: 'Inter', sans-serif;
  }
}